@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container__fixed {
  @include mixins.flex_container(row, center, flex-start);
  gap: 16px;
  padding: 1rem;
  position: fixed;
  z-index: 1000;
  width: 500px;

  .container__relative {
    position: relative;
    width: 100%;
  }
}

@include responsives.VGA {
  .container__fixed {
    gap: 8px;
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
}
