@use '@styles/_responsives' as responsives;

.container__fixed {
  padding: 1rem;
  position: fixed;
  z-index: 1000;
  width: 500px;

  .container__relative {
    position: relative;
  }
}

@include responsives.VGA {
  .container__fixed {
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
}

/* .container {
  padding: 1rem 0;
  width: 100%;
  background-color: black;
} */
