@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container {
  @include typography.xs-light;
  display: grid;
  flex-direction: column;
  color: white;
  margin-bottom: 1.5rem;

  span {
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: white;
  }
}
