@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  width: 100%;
  height: 100%;
  /* background-color: var(--color-theta); 
  padding: 1.5rem;*/
  color: white;

  border-radius: var(--web-border-radius);
  z-index: 100;
}

.song__title {
  @include typography.s-light;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0.025rem;
  font-weight: 100;
}

.song__lyrics {
  @include typography.m-light;
  white-space: pre-wrap;
  padding-right: 1rem;

  &::-webkit-scrollbar {
    width: 0.4375rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 0.625rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }
}
