@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  //padding-top: 1rem;
  width: var(--max-width-web);
  height: 100vh;
}

.top {
  @include mixins.flex_container(row, flex-start, flex-start);

  img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    //border-radius: 2.5rem;
  }
}

.general__info {
  padding: 1rem;
  color: white;
}

.info {
  display: grid;
  gap: 0.5rem;

  &__title {
    @include typography.xl;
  }

  &__subtitle {
    @include typography.l-light;
    margin-bottom: 0.5rem;

    span {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: white;
    }
  }

  &__creators {
    display: grid;
    flex-direction: column;

    p {
      @include typography.xs-light;
    }

    span {
      font-size: 1rem;
      text-decoration: underline;
      text-decoration-color: white;
    }
  }
}

.lyrics {
  background-color: var(--color-beta);
  color: black;
  padding: 1.5rem;

  &__entry {
    @include typography.s-light;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    line-height: 1.33;
    letter-spacing: 0.025rem;
    font-weight: 100;
  }

  &__content {
    @include typography.m-light;
    white-space: pre-wrap;
    height: 550px;
    overflow-y: scroll;
    padding-right: 1rem;

    &::-webkit-scrollbar {
      width: 0.4375rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-scrollbar-thumb);
      border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-scrollbar-thumb-hover);
    }
  }
}
