@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;

.name {
  @include typography.xl;
  font-size: 4rem;
}

.aka {
  @include typography.s-light;
  min-height: 17px;
}

@include responsives.VGA {
  .name {
    @include typography.xl;
    font-size: 3rem;
  }

  .aka {
    @include typography.xs-light;
  }
}
