@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;

.name {
  @include typography.xl;
  font-size: 4rem;
}

.aka__desktop {
  @include typography.s-light;
  min-height: 17px;
}

.aka__mobile {
  display: none;
}

@include responsives.VGA {
  .name {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .aka__desktop {
    display: none;
  }

  .aka__mobile {
    @include typography.s-light;
    display: block;
  }
}
