@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.link {
  cursor: pointer;
  height: 4.688rem;
  border-radius: var(--web-border-radius);
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-gamma);
  }
}

.thumbnail_song {
  height: 3.688rem;
  width: 3.688rem;
  object-fit: cover;
  border-radius: var(--web-border-radius);
}

.thumbnail_artist {
  border-radius: 100px;
  object-fit: cover;
  width: 48px;
  height: 48px;
}

.info_song {
  @include mixins.flex_container(column, flex-start, flex-start);
  padding: 0 0.9rem;
  color: white;

  &Name {
    @include typography.m;
  }

  &Owner {
    @include typography.xs;
    color: var(--color-delta);
  }
}
