@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  position: relative;
  background-color: var(--color-alpha);
  border-radius: var(--web-border-radius);
  overflow: hidden;
  color: white;
  width: 100%;
}

.banner__collapse {
  margin-top: calc(var(--banner-height) * -1);
}

.top {
  @include mixins.flex_container(row, flex-start, flex-end);
  padding: 2rem;
  width: 100%;
  position: absolute;
  gap: 1.5rem;
  height: var(--banner-height);
  transition: margin-top 300ms ease-in-out;

  &.top__collapse {
    margin-top: calc(var(--banner-height) * -1);
  }
}

.body {
  @include mixins.flex_container(column, space-between, flex-start);
  width: 100%;
  z-index: 1;
  color: white;
  padding: 2rem;
}

@include responsives.VGA {
  .container {
    border-radius: 0;
  }

  .body {
    padding: 1.5rem 1rem;
  }
}
