@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  width: 100%;
  position: absolute;
  background-color: var(--color-beta);
  padding: 0;
}

.top {
  border-bottom: 1px solid #ccc;
  padding: 0 0.75rem 0 1rem;

  &__title {
    @include typography.s;
    color: var(--color-kappa);
    line-height: 2.25rem;
  }
}

.section {
  display: grid;
  gap: 0.3rem;
  flex-direction: column;

  &__title {
    @include typography.xs;
    color: var(--color-lambda);
    margin: 1.313rem 1rem 0.5rem;
  }

  &__item_song,
  &__item_artist {
    a {
      background-color: white;
      cursor: pointer;
      height: 75px;

      &:hover {
        background-color: var(--color-epsilon);
      }
    }
  }

  &__item_song {
    a {
      @include mixins.flex_container(row, flex-start, flex-start);

      .thumbnail_song {
        width: 75px;
        height: 75px;
        object-fit: cover;
      }

      div {
        @include mixins.flex_container(column, flex-start, flex-start);
        padding: 0.375rem 0.375rem 0.25rem;

        .name_song {
          @include typography.m;
          color: var(--color-kappa);
        }

        .owner_song {
          @include typography.xs;
          color: var(--color-kappa);
        }
      }
    }
  }

  &__item_artist {
    a {
      @include mixins.flex_container(row, flex-start, center);
      padding: 0 1.688rem;

      .thumbnail_artist {
        border-radius: 100px;
        object-fit: cover;
        width: 48px;
        height: 48px;
      }

      p {
        @include typography.m;
        color: var(--color-kappa);
        margin: 0;
        padding: 0.375rem 0.375rem 0.25rem;
      }
    }
  }
}
