@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  background-color: var(--color-alpha);
  border-radius: var(--web-border-radius);
  padding: 1.15rem var(--web-gap) 2rem 2rem;
  width: 100%;
  height: 100%;
}

.title {
  @include mixins.flex_container(row, flex-start, center);
  @include typography.m;
  gap: 1rem;
  color: white;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;

  .customShadow {
    bottom: -1.15rem;
    left: -2rem;
    width: calc(100% + 3rem);
  }

  .icon {
    width: 19px;
    aspect-ratio: 19/24;
  }
}

@include responsives.XGA {
  .container {
    padding: 5rem 1rem 0 1rem;
    background-color: transparent;
    border-radius: 0;
  }

  .title {
    margin-bottom: 0.5rem;
  }
}
