@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  background-color: var(--color-alpha);
  border-radius: var(--web-border-radius);
  padding: 2rem;
  width: 100%;
}

.title {
  @include mixins.flex_container(row, flex-start, center);
  @include typography.m;
  gap: 1rem;
  color: white;
  margin-bottom: 1rem;
}

@include responsives.VGA {
  .container {
    padding: 5rem 1rem 0 1rem;
    background-color: transparent;
    border-radius: 0;
  }

  .title {
    margin-bottom: 0.5rem;
  }
}
