@use '@styles/_responsives' as responsives;

.thumbnail,
.thumbnail__skeleton {
  width: 11rem !important;
  height: 11rem !important;
  border-radius: 100%;
}

@include responsives.VGA {
  .thumbnail,
  .thumbnail__skeleton {
    width: 8.3rem !important;
    height: 8.3rem !important;
    border-radius: 100%;
  }
}
