@use '@styles/_responsives' as responsives;

.thumbnail {
  width: 9.688rem;
  height: 9.688rem;
  border-radius: 100%;
}

@include responsives.VGA {
  .thumbnail {
    width: 8.3rem;
    height: 8.3rem;
    border-radius: 100%;
  }
}
