@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  width: 100%;
  position: relative;
  background-color: var(--color-alpha);
  border-radius: var(--web-border-radius);
  overflow: hidden;
  color: white;
}

.top {
  @include mixins.flex_container(row, flex-start, flex-end);
  width: 100%;
  position: relative;
  height: var(--banner-height);

  .songResume {
    @include mixins.flex_container(row, flex-start, flex-end);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 1.5rem;
  }
}

.body {
  @include mixins.flex_container(column, space-between, flex-start);
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }

  .controls {
    @include mixins.flex_container(row, flex-start, flex-start);
    gap: 1rem;
    z-index: 100;
  }

  .contributorsContainer {
    @include mixins.flex_container(row, flex-start, flex-start);
    gap: 1.5rem;
  }
}

@include responsives.XGA {
  .container {
    border-radius: 0;
    background-color: black;
  }

  .top {
    .songResume {
      padding: 1.5rem 1rem;
      gap: 1rem;
    }
  }

  .body {
    padding: 1.5rem 2rem;
  }
}
