@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.outerContainer {
  @include mixins.flex_container(row, center, flex-start);
  gap: 8px;
  padding: 1rem;
  position: fixed;
  z-index: 1000;
  width: 500px;
}

.innerContainer {
  position: relative;
  width: 100%;
}

@include responsives.VGA {
  .outerContainer {
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
}
