@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  width: 100%;
  position: relative;
  transition: margin-top 300ms ease-in-out;
}

.banner {
  width: 100%;
  height: var(--banner-height);
  object-fit: cover;
}

.darkLayer {
  width: 100%;
  height: var(--banner-height);
  position: absolute;
  top: 0;
  background-color: #00000073;
  /*   backdrop-filter: blur(10px); other style */
}
