@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;

.title {
  @include typography.xl;
  font-size: 4rem;
  color: white;
}

.subtitle {
  @include typography.l-light;
  display: flex;
  margin-bottom: 0.5rem;
  color: white;

  a {
    @include typography.l;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
  }
}

@include responsives.VGA {
  .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    @include typography.s-light;
  }
}
