@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  width: 100%;
  height: fit-content;
}

.body {
  @include mixins.flex_container(row, flex-start, center);
  width: 100%;
  padding: 0.7rem 1.5rem;
  color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: var(--color-eta);
  }

  .number {
    @include mixins.flex_container(row, center, center);
    @include typography.m;
    word-break: normal;
    padding-right: 1.5rem;
  }

  .thumbnail {
    height: 59px;
    width: 59px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 14px var(--color-kappa);
    box-shadow: 0 0 14px var(--color-kappa);
  }

  .info {
    @include mixins.flex_container(column, flex-start, flex-start);
    height: 59px;
    padding: 0 0.9rem;
    gap: 0.125rem;

    .title {
      @include typography.font-feature-settings;
      @include typography.l;
    }

    .artist {
      @include typography.xs-light;
      color: var(--color-delta);
    }
  }
}
