@use '@styles/_typography.scss' as typography;
@use '@styles/_responsives' as responsives;
@use '@styles/_mixins' as mixins;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.top {
  @include mixins.flex_container(row, center, center);
  gap: 0.5rem;
  margin-bottom: 1rem;

  .thumbnail {
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 100px !important;
  }

  .title {
    @include typography.m;
    color: white;

    button {
      @include typography.m;
      color: white;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}

.list {
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }
}

@include responsives.VGA {
  .container {
    padding-top: 4rem;
  }
}
