@use '@styles/_mixins' as mixins;
@use '@styles/_responsives' as responsives;
@use '@styles/_typography.scss' as typography;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  background-color: var(--color-alpha);
  border-radius: var(--web-border-radius);
  padding: 1.5rem;
  width: 100%;
  gap: 2rem;

  li {
    width: 100%;
  }
}

.title {
  @include mixins.flex_container(row, flex-start, center);
  @include typography.m;
  color: var(--color-zeta);
  gap: 1rem;
  transition: color 100ms ease-in-out;

  img {
    width: 20px;
    filter: invert(70%);
  }
}

.filters {
  @include mixins.flex_container(row, flex-start, center);
  gap: 0.5rem;

  .control {
    @include typography.xs;
    padding: 0.4rem 0.9rem;
    border-radius: 100px;
    color: white;
    background-color: var(--color-eta);
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: var(--color-mu);
    }

    &.active {
      color: var(--color-alpha);
      background-color: white;
    }
  }
}

.advice {
  @include typography.xs;
  color: white;
  text-align: center;
  width: 100%;
}

.list {
  @include mixins.flex_container(column, flex-start, flex-start);
  margin-left: -0.5rem;
}

.list__song {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: -0.5rem;
}

.item {
  @include mixins.flex_container(row, flex-start, center);
  gap: 0.5rem;
  width: calc(100% + 1rem);
  border-radius: 100px;
  transition: background-color 100ms ease-in-out;
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-eta);
  }

  img {
    border-radius: 100%;
    width: 2.5rem;
  }

  p {
    @include typography.font-feature-settings;
    @include typography.s-light;
    color: white;
  }
}

.item__song {
  @include mixins.flex_container(column, flex-start, flex-start);
  gap: 0.125rem;
  width: 100%;
  border-radius: var(--web-border-radius);
  transition: background-color 100ms ease-in-out;
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-eta);
  }

  img {
    border-radius: var(--images-border-radius);
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .name {
    @include typography.font-feature-settings;
    @include typography.s-light;
    color: white;
  }

  .owner {
    @include typography.xs-light;
    color: var(--color-delta);
  }

  p {
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
