@font-face {
  font-display: swap;
  font-family: 'Programme Light';
  src: local('programme-light'), url('~@fonts/programme-light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Programme Normal';
  src: local('programme-normal'), url('~@fonts/programme-normal.woff2') format('woff2');
}
