@mixin xs {
  font-family: Programme, Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.04em;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin s {
  font-family: Programme, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin m {
  font-family: Programme, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.04em;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin l {
  font-family: Programme, Arial, sans-serif;
}

@mixin xl {
  font-family: Programme, Arial, sans-serif !important;
  font-size: 2rem;
  font-weight: 400;
  font-feature-settings: 'ss07', 'ss08', 'ss11', 'ss12', 'ss14', 'ss15', 'ss16', 'ss18', 'ss19', 'ss20', 'ss21';
  line-height: 1.125;
  overflow-wrap: break-word;
}

@mixin xs-light {
  font-family: Programme Light, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.04em;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin s-light {
  font-family: Programme Light, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin m-light {
  font-family: Programme Light, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.04em;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin l-light {
  font-family: Programme Light, sans-serif;
}

@mixin xl-light {
  font-family: Programme Light, sans-serif !important;
  font-size: 2rem;
  font-weight: 400;
  font-feature-settings: 'ss07', 'ss08', 'ss11', 'ss12', 'ss14', 'ss15', 'ss16', 'ss18', 'ss19', 'ss20', 'ss21';
  line-height: 1.125;
  overflow-wrap: break-word;
}
