@use './_fonts.scss';
@use './_typography.scss';
@use './_responsives.scss';

:root {
  --color-alpha: #121212;
  --color-beta: #181818;
  --color-gamma: #2a2a2a;
  --color-delta: #a7a7a7;
  --color-epsilon: #e9e9e9;
  --color-zeta: #ccc;
  --color-eta: #393a3bb4;
  --color-theta: #282828;
  --color-iota: #0000006c;
  --color-kappa: #00000080;
  --color-lambda: #ffff64;

  --color-scrollbar-thumb: #393a3bb4;
  --color-scrollbar-thumb-hover: #545657b4;

  --max-width-web: 50rem;
  --banner-height: 290px;
  --web-border-radius: 5px;

  --background-noise: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=');

  @include responsives.VGA {
    --banner-height: 218px;
  }
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;

  @include responsives.VGA {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: Programme Light;
  overflow-x: hidden;
  padding: 1rem;
  margin: 0;

  @include responsives.VGA {
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }
}

#root {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

input {
  @include typography.font-feature-settings;
  @include typography.l;
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  width: auto;
  height: auto;
}
