@use './_fonts.scss';
@use './_responsives.scss';

:root {
  --color-alpha: #0c0c0c;
  --color-beta: #f7f7f7;
  --color-gamma: #ffffff17;
  --color-delta: #ffffff25;
  --color-epsilon: #e9e9e9;
  --color-zeta: #6e6e6e;
  --color-eta: #ffff64;
  --color-theta: #8b8b8b1f;
  --color-iota: #ccc;
  --color-scrollbar-thumb: #c5c5c5;
  --color-scrollbar-thumb-hover: #b6b6b6;

  --max-width-web: 39.375rem;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;

  @include responsives.VGA {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-alpha);
  font-family: 'Programme Light', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 400;
  font-feature-settings: 'ss07', 'ss08', 'ss11', 'ss12', 'ss14', 'ss15', 'ss16', 'ss18', 'ss19', 'ss20', 'ss21';
  line-height: 1.125;
  overflow-wrap: break-word;
  font-family: 'Programme Normal', sans-serif !important;
}

input {
  border: none;
  font-family: Programme, Arial, sans-serif;
  font-feature-settings: 'ss07', 'ss08', 'ss11', 'ss12', 'ss14', 'ss15', 'ss16', 'ss18', 'ss19', 'ss20', 'ss21';

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.notFound {
  text-align: center;
  color: var(--color-eta);

  h1 {
    font-size: 3rem;
  }
}
