@use '@styles/_mixins' as mixins;
@use '@styles/_responsives' as responsives;
@use '@styles/_typography.scss' as typography;

.container {
  @include mixins.flex_container(column, center, center);
  height: 100vh;
  width: 100%;

  h1 {
    @include typography.xl;
    font-size: 4rem;
    color: var(--color-lambda);
  }

  p {
    @include typography.l;
    color: var(--color-delta);
  }
}
