@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  width: 100%;
  position: absolute;
  background-color: var(--color-alpha);
  padding: 0;
  margin-top: 1rem;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
}

.top {
  border-bottom: 1px solid var(--color-gamma);

  &__title {
    @include typography.s;
    color: white;
    padding-bottom: 1rem;
  }
}

.section {
  display: grid;
  gap: 0.3rem;
  flex-direction: column;

  &__title {
    @include typography.xs;
    color: white;
    margin: 1.313rem 1rem 0.5rem;
  }

  &__itemSong {
    a {
      @include mixins.flex_container(row, flex-start, flex-start);
    }
  }

  &__itemArtist {
    a {
      @include mixins.flex_container(row, flex-start, center);
      padding: 0 1rem;

      p {
        @include typography.m;
        color: white;
        margin: 0;
        padding: 1rem;
      }
    }
  }
}
