@use '@styles/_mixins' as mixins;
@use '@styles/_responsives' as responsives;
@use '@styles/_typography.scss' as typography;

.container {
  @include mixins.flex_container(column, flex-start, flex-start);
  width: 100%;
  background-color: var(--color-beta);
  border-radius: var(--web-border-radius);
  padding: 2rem;
}

.btn {
  background-color: var(--color-gamma);
  border-radius: var(--web-border-radius);
  padding: 1rem;

  .title {
    @include typography.m;
    color: white;
    text-transform: uppercase;
  }
}

@include responsives.VGA {
  .container {
    @include mixins.flex_container(column, flex-start, center);
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0;
  }

  .btn {
    background-color: var(--color-alpha);
    padding: 0.7rem;

    .title {
      @include typography.s;
      color: white;
      text-transform: uppercase;
    }
  }
}

@media all and (display-mode: standalone) {
  .container {
    display: none;
  }
}
