@use '@styles/_typography.scss' as typography;
@use '@styles/_mixins' as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
  text-align: center;
  color: white;

  .artist__name {
    @include typography.xl;
  }

  .artist__aka {
    @include typography.xs-light;
  }
}

.artist__thumbnail {
  width: 288px;
  height: 288px;
  border-radius: 100%;
}

.description {
  display: grid;
  gap: 1rem;
  width: 400px;
  text-align: start;
  white-space: pre-wrap;
  background-color: white;
  color: black;
  padding: 1rem;

  &_title {
    @include typography.s-light;
  }

  &_content {
    @include typography.m-light;
    overflow-y: scroll;
    height: 350px;
    padding-right: 1rem;

    &::-webkit-scrollbar {
      width: 0.4375rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-scrollbar-thumb);
      border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-scrollbar-thumb-hover);
    }
  }
}
